* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Museo Cyrl 900";
  src: url("../fonts/MuseoCyrl-900.woff2") format("woff2"),
    url("../fonts/MuseoCyrl-900.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo Cyrl 300";
  src: url("../fonts/MuseoCyrl-300.woff2") format("woff2"),
    url("../fonts/MuseoCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Roboto";
  color: #202020;
}
.header {
  background-color: #f1f1f1;
  padding: 22px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}
.logo {
  text-transform: uppercase;
  font-weight: 700;
}
.nav-link {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 11px;
  margin-right: 11px;
}
.login {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
/*Главная секция*/
.hero {
  padding-top: 62px;
  padding-bottom: 71px;
  align-items: center;
}
.hero-container {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: auto;
}
.hero-image {
  margin-right: 122px;
}
.author {
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 22px;
}
.title {
  font-family: "Museo Cyrl 900";
  font-size: 54px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}
.subtitle {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 48px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}
.info-text {
  flex-basis: 45%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.pricetag {
  font-weight: 400;
  font-size: 55px;
  margin-right: 64px;
}
.favorites {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.button {
  font-size: 16px;
  font-weight: 700;
  padding: 22px 50px;
  border-radius: 5px;
  border: 2px solid transparent;
}
.button-primary {
  background-color: #f89c02;
  color: #fff;
  margin-right: 20px;
}
.button-outline {
  color: #f89c02;
  border: 2px solid #f89c02;
  text-decoration: none;
}
/*О книге*/
.about{
  background-color: #F1F1F1;
  padding: 99px 0px;  
  margin-bottom: 88px;
}
.about-text{
  font-size:16px;
  font-weight: 400;
  line-height: 24px;
}
.about-container{
  display: flex;
  align-items: flex-start;/*при переполнении текстом элемент с текстом расширяется а другой остается не изменным*/
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}
.about-book{
  max-width: 454px;
  flex-shrink: 0;
}
.about-author{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 552px;
  box-shadow: 0 1px 120px rgba(161,161,161,0.08);
  border-radius:10px;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  padding: 68px 53px;
}
.author-avatar{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 21px;
  
}
.author-name{
  margin: 0;
  font-size:16px;
  font-weight: 700;
  margin-bottom: 14px;
}
.author-link{
  font-size:16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.author-text{
  margin-top: 24px;
  flex-basis: 100%;
  font-size:16px;
  font-weight: 400;
  line-height: 24px;
}
.readers-container{
  max-width: 1140px;
  margin: auto;
  margin-bottom: 61px;
}
.icon-container{
  display: flex; 
  flex-wrap: wrap;
  justify-content:space-around;  
  align-items: space-around;
  justify-content: space-between;
  height: 361px;
  margin-top: 56px;
 
}
.icon{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  
  width: 166px;
  height: 166px;
  text-align: center;
  object-fit: cover;    
}

